# 갭마인더 데이터 집합 불러오기

In [9]:
import sys
sys.path.append("C:\\Users\\mhstk_8h0b1gj\\Python-Jupyter\\doit_pandas-master")

In [13]:
import pandas as pd
df = pd.read_csv("C:\\Users\\mhstk_8h0b1gj\\Python-Jupyter\\doit_pandas-master/data/gapminder.tsv", sep = "\t")

# 불러온 데이터 집합 살펴보기

In [16]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [17]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [18]:
print(df.shape)

(1704, 6)

In [21]:
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [23]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

# 열 단위로 데이터 추출하기

In [32]:
country_df = df['country']

print(type(country_df))
print()
print(country_df.head())
print()
print(country_df.tail())

<class 'pandas.core.series.Series'>

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [37]:
subset = df[['country','continent','year']]

print(type(subset))
print()
print(subset.head())
print()
print(subset.tail())

<class 'pandas.core.frame.DataFrame'>

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

# loc 속성으로 행 단위 데이터 추출하기

In [41]:
print(df.loc[0])
print()
print(df.loc[1233])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

country           Poland
continent         Europe
year                1997
lifeExp            72.75
pop             38654957
gdpPercap    10159.58368
Name: 1233, dtype: object

In [45]:
print(df.shape)
number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1
print(df.loc[last_row_index])

(1704, 6)
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [47]:
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [48]:
print(df.head(n=100))

        country continent  year  lifeExp       pop     gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333    779.445314
1   Afghanistan      Asia  1957   30.332   9240934    820.853030
2   Afghanistan      Asia  1962   31.997  10267083    853.100710
3   Afghanistan      Asia  1967   34.020  11537966    836.197138
4   Afghanistan      Asia  1972   36.088  13079460    739.981106
..          ...       ...   ...      ...       ...           ...
95      Bahrain      Asia  2007   75.635    708573  29796.048340
96   Bangladesh      Asia  1952   37.484  46886859    684.244172
97   Bangladesh      Asia  1957   39.348  51365468    661.637458
98   Bangladesh      Asia  1962   41.216  56839289    686.341554
99   Bangladesh      Asia  1967   43.453  62821884    721.186086

[100 rows x 6 columns]

In [49]:
print(df.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# tail과 loc는 조금 달라요!

In [ ]:
print(type(df.loc[0]))
print(type(df.tail(n=1)))

# iloc 속성으로 행 단위 데이터 추출하기

In [53]:
print(df.iloc[0])
print()
print(df.iloc[-1])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [55]:
print(df.iloc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

# 파이썬 슬라이싱 구문을 조합하여 원하는 데이터 추출하기

In [60]:
subset = df.loc[:,['year','pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [61]:
subset = df.iloc[:,[2, 4, 5]]
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106

# iloc 속성과 range 메서드로 원하는 데이터 추출하기

In [69]:
small_range = list(range(5))
print(small_range)
print(type(small_range))
print()

subset = df.iloc[:,small_range]
print(subset.head())
print()

small_range = list(range(3,6))
print(small_range)
print()

subset = df.iloc[:,small_range]
print(subset.head())

[0, 1, 2, 3, 4]
<class 'list'>

       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460

[3, 4, 5]

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [70]:
small_range = list(range(0, 6, 2))
subset = df.iloc[:, small_range]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

# 열 지정값에 파이썬 슬라이싱을 사용하여 원하는 데이터 추출하기

In [73]:
subset = df.iloc[:, 0:6:2]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [74]:
subset = df.iloc[:, :3]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

# loc, iloc 자유자재로 사용하기

In [75]:
print(df.iloc[[0, 99, 1205],[0, 3, 5]])

          country  lifeExp    gdpPercap
0     Afghanistan   28.801   779.445314
99     Bangladesh   43.453   721.186086
1205         Peru   58.447  6281.290855

In [76]:
print(df.loc[[0, 99, 1205],['country','lifeExp','gdpPercap']])

          country  lifeExp    gdpPercap
0     Afghanistan   28.801   779.445314
99     Bangladesh   43.453   721.186086
1205         Peru   58.447  6281.290855

In [78]:
print(df.loc[10:13,['country','lifeExp','gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

# 그룹화한 데이터의 평균 구하기

# 그룹화한 데이터의 개수 세어보기

# 그래프 만들기